<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xavier.stamps.mapper.StampsMapper">
  <resultMap id="BaseResultMap" type="com.xavier.stamps.entity.Stamp">
    <!--@mbg.generated-->
    <!--@Table STAMPS-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="SERIES" jdbcType="VARCHAR" property="series" />
    <result column="CODES" jdbcType="VARCHAR" property="codes" />
    <result column="THEMES" jdbcType="VARCHAR" property="themes" />
    <result column="ISSUEDON" jdbcType="VARCHAR" property="issuedOn" />
    <result column="EXPIRYDATE" jdbcType="VARCHAR" property="expiryDate" />
    <result column="DIMENSION" jdbcType="VARCHAR" property="dimension" />
    <result column="COLORS" jdbcType="VARCHAR" property="colors" />
    <result column="EMISSION" jdbcType="VARCHAR" property="emission" />
    <result column="PERFORATION" jdbcType="VARCHAR" property="perforation" />
    <result column="PRINTING" jdbcType="VARCHAR" property="printing" />
    <result column="PAPER" jdbcType="VARCHAR" property="paper" />
    <result column="FACEVALUE" jdbcType="VARCHAR" property="faceValue" />
    <result column="PRINTRUN" jdbcType="INTEGER" property="printRun" />
    <result column="SCORE" jdbcType="VARCHAR" property="score" />
    <result column="LINKS" jdbcType="VARCHAR" property="links" />
<!--    <result column="IMG" jdbcType="BLOB" property="img" />-->
    <result column="IMG" property="img" typeHandler="com.xavier.stamps.utils.SQLiteBlogTypeReadHandler"/>
    <result column="IMGNAME" jdbcType="VARCHAR" property="imgName" />
    <result column="COLLECTINGDATE" jdbcType="VARCHAR" property="collectingDate" />
<!--    <result column="img_link" property="imgLink"/>-->
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, "NAME", COUNTRY, SERIES, CODES, THEMES, ISSUEDON, EXPIRYDATE, DIMENSION, COLORS,
    EMISSION, PERFORATION, PRINTING, PAPER, FACEVALUE, PRINTRUN, SCORE, LINKS, IMG, IMGNAME, 
    COLLECTINGDATE
  </sql>

  <insert id="insertStampInfo" parameterType="com.xavier.stamps.entity.Stamp">
    insert into STAMPS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        "NAME",
      </if>
      <if test="country != null">
        COUNTRY,
      </if>
      <if test="series != null">
        SERIES,
      </if>
      <if test="codes != null">
        CODES,
      </if>
      <if test="themes != null">
        THEMES,
      </if>
      <if test="issuedOn != null">
        ISSUEDON,
      </if>
      <if test="expiryDate != null">
        EXPIRYDATE,
      </if>
      <if test="dimension != null">
        DIMENSION,
      </if>
      <if test="colors != null">
        COLORS,
      </if>
      <if test="emission != null">
        EMISSION,
      </if>
      <if test="perforation != null">
        PERFORATION,
      </if>
      <if test="printing != null">
        PRINTING,
      </if>
      <if test="paper != null">
        PAPER,
      </if>
      <if test="faceValue != null">
        FACEVALUE,
      </if>
      <if test="printRun != null">
        PRINTRUN,
      </if>
      <if test="score != null">
        SCORE,
      </if>
      <if test="links != null">
        LINKS,
      </if>
      <if test="img != null">
        IMG,
      </if>
      <if test="imgName != null">
        IMGNAME,
      </if>
      <if test="collectingDate != null">
        COLLECTINGDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="series != null">
        #{series,jdbcType=VARCHAR},
      </if>
      <if test="codes != null">
        #{codes,jdbcType=VARCHAR},
      </if>
      <if test="themes != null">
        #{themes,jdbcType=VARCHAR},
      </if>
      <if test="issuedOn != null">
        #{issuedOn,jdbcType=VARCHAR},
      </if>
      <if test="expiryDate != null">
        #{expiryDate,jdbcType=VARCHAR},
      </if>
      <if test="dimension != null">
        #{dimension,jdbcType=VARCHAR},
      </if>
      <if test="colors != null">
        #{colors,jdbcType=VARCHAR},
      </if>
      <if test="emission != null">
        #{emission,jdbcType=VARCHAR},
      </if>
      <if test="perforation != null">
        #{perforation,jdbcType=VARCHAR},
      </if>
      <if test="printing != null">
        #{printing,jdbcType=VARCHAR},
      </if>
      <if test="paper != null">
        #{paper,jdbcType=VARCHAR},
      </if>
      <if test="faceValue != null">
        #{faceValue,jdbcType=VARCHAR},
      </if>
      <if test="printRun != null">
        #{printRun,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="links != null">
        #{links,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=BLOB},
      </if>
      <if test="imgName != null">
        #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="collectingDate != null">
        #{collectingDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="queryMaxID" resultType="java.lang.String">
    select
      ID
    from
      STAMPS
    where
        substr(ID, 4, 9) = (
        select
          max(substr(ID, 4, 9))
        from
          STAMPS)
  </select>

  <select id="getStampViaID" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from STAMPS
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getMaxIDNum" resultType="java.lang.String">
    SELECT MAX(SUBSTR(ID,4,9)) FROM STAMPS
  </select>

  <select id="getStampsByPager" parameterType="map" resultMap="BaseResultMap">
    SELECT ID, NAME, IMG, COUNTRY, SERIES, THEMES, ISSUEDON
    FROM
    STAMPS
    <where>
      1=1
      <if test="searchingCriteria.series !=''">
        AND SERIES LIKE '%'||#{searchingCriteria.series}||'%'
      </if>
      <if test="searchingCriteria.country !=''">
        AND COUNTRY = #{searchingCriteria.country}
      </if>
      <if test="searchingCriteria.themes !=''">
        OR THEMES LIKE '%'||#{searchingCriteria.themes}||'%'
      </if>
    </where>
    LIMIT (#{page}-1)*15, #{size}
  </select>
  <select id="getStampsCountByPager" parameterType="map" resultType="int">
    SELECT COUNT(1)
    FROM
    STAMPS
    <where>
      1=1
      <if test="searchingCriteria.series !=''">
        AND SERIES LIKE '%'||#{searchingCriteria.series}||'%'
      </if>
      <if test="searchingCriteria.country !=''">
        AND COUNTRY = #{searchingCriteria.country}
      </if>
      <if test="searchingCriteria.themes !=''">
        OR THEMES LIKE '%'||#{searchingCriteria.themes}||'%'
      </if>
    </where>
  </select>

<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
<!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
<!--    delete from STAMPS-->
<!--    where ID = #{id,jdbcType=VARCHAR}-->
<!--  </delete>-->

</mapper>