<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="generatedClassPathList">
          <list>
            <option value="F:\Practice\Toolkit\src\main\java\com\xavier\toolkit\entity" />
          </list>
        </option>
        <option name="javaMapperPackage" value="com.xavier.toolkit.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.xavier.toolkit.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="toolkit" />
        <option name="modelAddEqualHashCode" value="true" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="toolkit">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.xavier.toolkit.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.xavier.toolkit.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.xavier.toolkit.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePackage" value="com.xavier.toolkit.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="com.xavier.toolkit.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/java" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="HR:COUNTRIES">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Countries" />
                  <option name="methodNameList">
                    <list>
                      <option value="" />
                    </list>
                  </option>
                  <option name="moduleName" value="toolkit" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="HR:EMP">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Emp222" />
                  <option name="moduleName" value="toolkit" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="HR:EMPLOYEES">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="Employees" />
                  <option name="moduleName" value="toolkit" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="HR:JOBS">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="Jobs" />
                  <option name="moduleName" value="toolkit" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="HR:SYS_ROLE">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="SysRole1" />
                  <option name="moduleName" value="toolkit" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="HR:SYS_USER">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysUser1" />
                  <option name="moduleName" value="toolkit" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="com.xavier.toolkit.mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/java" />
      </ProjectProfile>
    </option>
  </component>
</project>